@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Fira+Mono&display=swap');

// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

$body-font-family: 'K2D', sans-serif !default;
$font-size-root: 18px !default;

$code-kbd-font-family: 'Fira Mono', monospace;
